<div style="margin-top: 80px">
    <div class="comm">
        <div class="jumbotron jum1">
            <p>SHOPLIST</p>
            <div class="line"></div>
        </div>
    </div>
    <div class="div3">
        <select class="form-control sel">
            <option>Default sorting</option>
            <option>Sort by average rating</option>
            <option>Sort by newness</option>
            <option>Sort by price:low to high</option>
            <option>Sort by price:high to low</option>
         </select>
    </div>

    <div class="container list">
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <img src="assy/2.jpg"/>
                    <div class="content-text">
                        <h3 class="title">11</h3>
                        <span>$11</span>
                        <ul class="icon">
                            <li><a role="button"><i class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#myModal"></i> </a> </li>
                            <li><a role="button"><i class="glyphicon glyphicon-heart"></i> </a> </li>
                            <li><a role="button"><i class="fa fa-shopping-cart"></i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="assy/3.jpg"/>
                    <div class="content-text">
                        <h3 class="title">11</h3>
                        <span>$11</span>
                        <ul class="icon">
                            <li><a role="button"><i class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#myModal"></i> </a> </li>
                            <li><a role="button"><i class="glyphicon glyphicon-heart"></i> </a> </li>
                            <li><a role="button"><i class="fa fa-shopping-cart"></i> </a> </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="assy/4.jpg"/>
                    <div class="content-text">
                        <h3 class="title">11</h3>
                        <span>$11</span>
                        <ul class="icon">
                            <li><a role="button"><i class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#myModal"></i> </a> </li>
                            <li><a role="button"><i class="glyphicon glyphicon-heart"></i> </a> </li>
                            <li><a role="button"><i class="fa fa-shopping-cart"></i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="assy/5.jpg"/>
                    <div class="content-text">
                        <h3 class="title">11</h3>
                        <span>$11</span>
                        <ul class="icon">
                            <li><a role="button"><i class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#myModal"></i> </a> </li>
                            <li><a role="button"><i class="glyphicon glyphicon-heart"></i> </a> </li>
                            <li><a role="button"><i class="fa fa-shopping-cart"></i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="assy/6.jpg"/>
                    <div class="content-text">
                        <h3 class="title">11</h3>
                        <span>$11</span>
                        <ul class="icon">
                            <li><a role="button"><i class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#myModal"></i> </a> </li>
                            <li><a role="button"><i class="glyphicon glyphicon-heart"></i> </a> </li>
                            <li><a role="button"><i class="fa fa-shopping-cart"></i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="assy/7.jpg"/>
                    <div class="content-text">
                        <h3 class="title">11</h3>
                        <span>$11</span>
                        <ul class="icon">
                            <li><a role="button"><i class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#myModal"></i> </a> </li>
                            <li><a role="button"><i class="glyphicon glyphicon-heart"></i> </a> </li>
                            <li><a role="button"><i class="fa fa-shopping-cart"></i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="assy/8.jpg"/>
                    <div class="content-text">
                        <h3 class="title">11</h3>
                        <span>$11</span>
                        <ul class="icon">
                            <li><a role="button"><i class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#myModal"></i> </a> </li>
                            <li><a role="button"><i class="glyphicon glyphicon-heart"></i> </a> </li>
                            <li><a role="button"><i class="fa fa-shopping-cart"></i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="assy/9.jpg"/>
                    <div class="content-text">
                        <h3 class="title">11</h3>
                        <span>$11</span>
                        <ul class="icon">
                            <li><a role="button"><i class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#myModal"></i> </a> </li>
                            <li><a role="button"><i class="glyphicon glyphicon-heart"></i> </a> </li>
                            <li><a role="button"><i class="fa fa-shopping-cart"></i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="assy/10.jpg"/>
                    <div class="content-text">
                        <h3 class="title">11</h3>
                        <span>$11</span>
                        <ul class="icon">
                            <li><a role="button"><i class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#myModal"></i> </a> </li>
                            <li><a role="button"><i class="glyphicon glyphicon-heart"></i> </a> </li>
                            <li><a role="button"><i class="fa fa-shopping-cart"></i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="assy/11.jpg"/>
                    <div class="content-text">
                        <h3 class="title">11</h3>
                        <span>$11</span>
                        <ul class="icon">
                            <li><a role="button"><i class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#myModal"></i> </a> </li>
                            <li><a role="button"><i class="glyphicon glyphicon-heart"></i> </a> </li>
                            <li><a role="button"><i class="fa fa-shopping-cart"></i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="assy/12.jpg"/>
                    <div class="content-text">
                        <h3 class="title">11</h3>
                        <span>$11</span>
                        <ul class="icon">
                            <li><a role="button"><i class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#myModal"></i> </a> </li>
                            <li><a role="button"><i class="glyphicon glyphicon-heart"></i> </a> </li>
                            <li><a role="button"><i class="fa fa-shopping-cart"></i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <img src="assy/13.jpg"/>
                    <div class="content-text">
                        <h3 class="title">11</h3>
                        <span>$11</span>
                        <ul class="icon">
                            <li><a role="button"><i class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#myModal"></i> </a> </li>
                            <li><a role="button"><i class="glyphicon glyphicon-heart"></i> </a> </li>
                            <li><a role="button"><i class="fa fa-shopping-cart"></i> </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <ul class="pagination" style="float: right">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>

            </ul>
        </nav>

    </div>
</div>


<div class="modal fade" role="dialog" id="myModal" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none;margin-bottom: 30px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div ng-controller="CarouselDemoCtrl">
                                <div>
                                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                                            <img ng-src="{{slide.image}}" class="img-responsive">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div style="border-bottom: 1px solid #dddddd;padding-bottom: 10px;margin-bottom: 10px;">
                                <h2 style="margin-top: 0px;margin-bottom: 4px;">11</h2>
                                <span>$11</span>
                            </div>
                            <div>
                                <p style="line-height: 20px;">This event fires immediately when the show instance method is called.This event is fired immediately when the hide instance method has been called.This event is fired when the dropdown has finished being hidden from the user (will wait for CSS transitions, to complete).</p>
                            </div>
                            <div class="input-group" style="width: 100px;height: 40px;margin-top: 20px;margin-bottom: 15px;" ng-init="a=1">
                                <span class="input-group-addon" style="width:25px;height: auto;" ng-click="a==1?a=1:a=a-1">-</span>
                                <input type="text" style="height: 40px; width: 50px;text-align: center" class="form-control" ng-model="a">
                                <span class="input-group-addon" style="width:25px;height: auto;" ng-click="a==5?a=5:a=a+1">+</span>
                            </div>

                            <div>
                                <div style="float:left;margin-right:20px; display:inline-block;background-color: #a7cb89;width: 120px;height: 40px;text-align: center;line-height: 40px;font-weight: bold;"><a href="#" style="color: #FFFFFF; font-size: 14px;">ADD TO CART</a></div>
                                <div style="width: 86px;height: 40px;text-align: center;line-height: 40px;border: 2px solid #a7cb89;display: inline-block; font-size: 20px;"><a href="#" style="color: #a7cb89;"><i class="glyphicon glyphicon-heart"></i></a></div>
                            </div>

                            <div style="margin-top: 10px;margin-bottom: 16px;">
                                <p>Tags:
                                <a href="javascript:;" style="color: #a7cb89">Fast</a>
                                <a href="javascript:;" style="color: #a7cb89">Market</a>
                                <a href="javascript:;" style="color: #a7cb89">Safe</a>
                                <a href="javascript:;" style="color: #a7cb89">Cheap</a>
                            </p>
                            </div>
                            <!--<div ng-controller="CarouselDemoCtrl"><p>ID:{{currIndex}}</p></div>-->
                            <div>
                                <a role="button" style="margin-right: 16px;color: #918f91"><i class="fa fa-facebook fa-1x"></i></a>
                                <a href="javascript:;" style="margin-right: 16px;color: #918f91"><i class="fa fa-pinterest fa-1x"></i></a>
                                <a href="javascript:;" style="margin-right: 16px;color: #918f91"><i class="fa fa-twitter fa-1x"></i></a>
                                <a href="javascript:;" style="margin-right: 16px;color: #918f91"><i class="fa fa-google-plus fa-1x"></i></a>
                                <a href="javascript:;" style="margin-right: 16px;color: #918f91"><i class="fa fa-instagram fa-1x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
